<template>
        <q-page>
           <div id="parent" class="fit row no-wrap">
               <div class="col-1 bg-green-4">

                  <q-list padding v-for="(obj, index) in lstMenu" :key="index"
                    col-3 bg-grey-4 style="overflow: auto;"
                    @dragenter="onDragEnter"
                    @dragleave="onDragLeave"
                    @dragover="onDragOver"
                    draggable="true"
                    :id="'cntndr01-' + index"

                  >

                      <!-- 
                      <div
                        :id="'i-' + index"
                          clickable 
                          v-ripple
                          draggable="true"
                          @dragstart="onDragStart"
                      >
                          <q-icon  style="font-size: 3em;" :name="obj.icon" />
                          <q-item-section>
                            {{ obj.label }}
                          </q-item-section>
                          <q-tooltip>{{ obj.descripcion }}</q-tooltip>
                      </div>
                      --> 

                      <q-item 
                        :id="'i-' + index"
                        clickable 
                        v-ripple
                        draggable="true"
                        @dragstart="onDragStart"
                        @drop="onDropNada"
                      >
                        <q-item-section avatar
                          :id="'ia-i-' + index"
                          draggable="false"
                          @drop="onDropNada"
                        >
                          <q-icon  style="font-size: 3em;" :name="obj.icon" />
                        </q-item-section>
                        <cuadro
                          :id="'b-i-' + index"
                          class="ocultar box"
                          @drop="onDropNada"
                        />
                      </q-item>
                    </q-list>
               </div>

              <div class="col-11 bg-green-2"
                @dragenter="onDragEnter"
                @dragleave="onDragLeave"
                @dragover="onDragOver"
                @drop="onDrop1"
                draggable="false"
              >
                  <grid-layout
                        id="panel00"
                        :layout.sync='layout'
                        :col-num='12'
                        :row-height='30'
                        :is-draggable='true'
                        :is-resizable='true'
                        :is-mirrored='false'
                        :vertical-compact='true'
                        :margin='[10,  10]'
                        :use-css-transforms='false'
                        :responsive="true"
                      >
                        <grid-item v-for='item in layout'
                                  :x='item.x'
                                  :y='item.y'
                                  :w='item.w'
                                  :h='item.h'
                                  :i='item.i'
                                  :minW='item.minW'
                                  :minH='item.minH'
                                  :key='item.i'
                                  class="item"
                                  >
                                <q-btn color="grey-4" text-color="purple" glossy unelevated icon="camera_enhance" label="Purple text" />

                                <q-card class="my-card" flat bordered>
                                  <q-card-section horizontal>
                                    <q-card-section class="q-pt-xs">
                                      <div class="text-overline">Overline</div>
                                      <div class="text-h5 q-mt-sm q-mb-xs">Title</div>
                                      <div class="text-caption text-grey">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                      </div>
                                    </q-card-section>

                                    <q-card-section class="col-5 flex flex-center">
                                      <q-img
                                        class="rounded-borders"
                                        src="https://cdn.quasar.dev/img/parallax2.jpg"
                                      />
                                    </q-card-section>
                                  </q-card-section>

                                  <q-separator />

                                  <q-card-actions>
                                    <q-btn flat round icon="event" />
                                    <q-btn flat>
                                      7:30PM
                                    </q-btn>
                                    <q-btn flat color="primary">
                                      Reserve
                                    </q-btn>
                                  </q-card-actions>
                                </q-card>

                                                            
                                {{item.nombre}}
                              
                        </grid-item>
                  </grid-layout>
              </div>
            </div>
        </q-page>
</template>

<script>

const testLayout = [
      { x: 0, y: 0, w: 4, h: 10, i: '0', nombre: 'ejemplo 1', minW: 3, minH: 6 },
      { x: 4, y: 0, w: 4, h: 10, i: '1', nombre: 'ejemplo 2', minW: 3, minH: 6 },
      { x: 8, y: 0, w: 4, h: 10, i: '2', nombre: 'ejemplo 3', minW: 3, minH: 6 }
      /*,
	    { x: 0, y: 10, w: 4, h: 10, i: '3', nombre: 'ejemplo 4', minW: 3, minH: 6 },
	    { x: 4, y: 10, w: 4, h: 10, i: '4', nombre: 'ejemplo 5', minW: 3, minH: 6 },
      { x: 8, y: 10, w: 4, h: 10, i: '5', nombre: 'ejemplo 6', minW: 3, minH: 6 }
      */
  ];

function verificoSiPuedoSoltar(obj, dstno) {
    console.log(" ++++++++ ")
    console.log("   entre en la funcion "+obj.className)
    console.log("   textContent "+obj.textContent)
    console.log("     ++++ ")
    console.log("   nodeValue "+obj.nodeValue)
    console.log("     ++++ ")
    console.log("   Destino "+dstno.nodeName)
    console.log("     ++++ ")
    console.log("   Destino className"+dstno.className)
    console.log("     ++++ ")
    console.log("   parentNode.dataset "+JSON.stringify(obj.parentNode.dataset))
    console.log("     ++++ ")
    console.log("   parentNode.itemValue "+JSON.stringify(obj.parentNode.itemValue))
    //const objPdre = obj.parentNode.get
    let ok = false
    if (dstno.className.includes('col-grow')) {
      ok = true
    }
    return ok;
}

export default {
  name:  'PageIndex', 
	    data() {
        return {  
          layout:  testLayout,
          fab1: true,
          lstMenu: [
              {
                id: 'obj01',
                icon: 'flag',
                label: 'Cuadro 1',
                descripcion: 'algo para ver caso 1',
                color: 'navy',
                objetoMnu: { x: 8, y: 10, w: 4, h: 10, i: '4', nombre: 'Objeto agreado opcion menu 1', minW: 3, minH: 6 }
              },
              {
                id: 'obj02',
                icon: 'low_priority',
                label: 'Cuadro 2',
                descripcion: 'algo para ver caso 2',
                color: 'red',
                objetoMnu: { x: 8, y: 10, w: 4, h: 10, i: '5', nombre: 'Objeto agreado opcion menu 2', minW: 3, minH: 6 }
              },
              {
                id: 'obj03',
                icon: 'sort',
                label: 'Cuadro 3',
                descripcion: 'algo para ver caso 3',
                color: 'orange',
                objetoMnu: { x: 8, y: 10, w: 4, h: 10, i: '6', nombre: 'Objeto agreado opcion menu 3', minW: 3, minH: 6 }
              },
              {
                id: 'obj04',
                icon: 'waves',
                label: 'Cuadro 4',
                descripcion: 'algo para ver caso 4',
                color: 'green',
                objetoMnu: { x: 8, y: 10, w: 4, h: 10, i: '7', nombre: 'Objeto agreado opcion menu 4', minW: 3, minH: 6 }
              },
              {
                id: 'obj05',
                icon: 'ballot',
                label: 'Cuadro 5',
                descripcion: 'algo para ver caso 5',
                color: 'yellow',
                objetoMnu: { x: 8, y: 10, w: 4, h: 10, i: '8', nombre: 'Objeto agreado opcion menu 5', minW: 3, minH: 6 }
              },
              {
                id: 'obj06',
                icon: 'clear_all',
                label: 'Cuadro 6',
                descripcion: 'algo para ver caso 6',
                color: 'white',
                objetoMnu: { x: 8, y: 10, w: 4, h: 10, i: '9', nombre: 'Objeto agreado opcion menu 6', minW: 3, minH: 6 }
              },
              {
                id: 'obj07',
                icon: 'speed',
                label: 'Cuadro 7',
                descripcion: 'algo para ver caso 7',
                color: 'black',
                objetoMnu: { x: 8, y: 10, w: 4, h: 10, i: '10', nombre: 'Objeto agreado opcion menu 7', minW: 3, minH: 6 }
              } 
          ],
          options: {
              chart: {
                id: 'Ejemplo'
              },
              xaxis: {
                categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
              }
            },
            series: [{
              name: 'series-1',
              data: [30, 40, 45, 50, 49, 60, 70, 91]
            }]

          };

      },


      methods: {

      
        // store the id of the draggable element
        onDragStart (e) {
          console.log("onDragStart "+e.target.id)
          //const muleto = document.getElementById('cuadro'+e.target.id.substring(e.target.id.length-1, e.target.id.length))
          e.dataTransfer.setData('text', e.target.id)
          e.dataTransfer.dropEffect = 'move'
        },

        onDragEnter (e) {
          if (e.target.draggable !== true) {
            e.target.classList.add('drag-enter')
          }
        },

        onDragLeave (e) {
          //console.log("onDragLeave ")
          e.target.classList.remove('drag-enter')
        },

        onDragOver (e) {
          //console.log("onDragOver ")
          e.preventDefault()
        },

        onDropNada (e) {
          return
        },

        onDrop1 (e) {
          e.preventDefault()
          console.log("=======================")
          console.log("estoy moviendo "+e.dataTransfer.getData('text'))

          const draggedId = e.dataTransfer.getData('text')
         
          // esto es por que en cualquier caso quito la linea punteada del borde
          e.target.classList.remove('drag-enter')

          const i = draggedId.substr(draggedId.indexOf("-")+1 ,draggedId.length-draggedId.indexOf("-"))
          console.log("obteni ocurrencia "+i)

          const ob1 = this.lstMenu[i].objetoMnu
          this.layout.push(ob1)
          return // conesto intento no hacer el verdadero arrastrar y soltar
         }
      }
}
</script>




<style scoped lang="sass">
.item 
  border: 5px solid red

.drop-target
  //height: 600px
  //width: 600px
  //min-width: 200px
  background-color: gainsboro

.drag-enter
  outline-style: dashed

.box
  width: 100px
  height: 100px
  float: left
  cursor: pointer

@media only screen and (max-width: 500px)
  .drop-target
    width: 100px
    min-width: 100px
    background-color: gainsboro

  .box
    width: 300px
    height: 400px

.box:nth-child(3)
  clear: both

.navy
  background-color: navy

.red
  background-color: firebrick

.green
  background-color: darkgreen

.orange
  background-color: orange

.black
  background-color: black

.box1
  width: 10px
  height: 10px
  float: left
  cursor: pointer

.ocultar
  display: none

=flex($justify ,$align: $justify)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-wrap: wrap
=box($w ,$h:$w)
  width: $w
  height: $h
#app
  +flex(center)
.resize
  justify-content: center
  align-items: center
  margin: 5px
  +box(350px)
  overflow: hidden
  resize: both
</style>

<style>

.vue-grid-layout {
  background: #eee;
}


.vue-grid-item:not(.vue-grid-placeholder) {
  background: #ccc;
  border: 1px solid black;
}

.vue-grid-item.resizing {
  opacity: 0.9;
}

.vue-grid-item.static {
  background: #cce;
}

.vue-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

</style>